body {
	padding-top: 75px;
}

.cont {
	border: 1px solid #e1e1e8;
	padding: 20px 0;
	margin-bottom: 20px;
}

.account p, .account h4 {
	padding: 0 2%;
}
.account .stats {
	padding: 0 5px;
}
.profile_picture {
	padding: 4px;
	border: 2px solid #ddd;
	display: inline-block;
}

#photo-list {
	padding: 0;
	text-align: center;
}
#photo-list li {
	box-shadow: 7px 7px 15px #444;
	-webkit-box-shadow: 7px 7px 15px #444;
	display: inline-block;
	margin: 3%;
}

.spinner {
	background-color: #333;
	border-radius: 100%;  
	-webkit-animation: scaleout 1.0s infinite ease-in-out;
	animation: scaleout 1.0s infinite ease-in-out;
	display: none;
	width: 40px;
	height: 40px;
	margin: 100px auto;
	
}

@-webkit-keyframes scaleout {
	0% { -webkit-transform: scale(0.0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

	@keyframes scaleout {
	0% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 100% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@media all and (max-width: 979px) {
	body {
		padding: 0;
	}
}